body{
    background-image: url(../img/18177.jpg);
    width:100%;
    height: 100%;
    margin: 0 auto;
}



.menu-principal{
    width: 100%;
    background-color: black;
    height: 120px;
    
}

main{
    margin: 0 auto;
    width: 980px;
    position: relative;


}

.menu-1{
   
    
    width: 90%;
    padding-left: 10px;
    padding-top: 30px;
    font-family: 'Staatliches', cursive;;
    text-align: center;
    
}
.menu-1  ul li{

    display: inline-block;
    list-style: none;
    color: white;
    height: 70px;
    

}

.menu-1  ul li:hover{

    border-bottom: 1px solid #fb9afc;

}
.menu-1  ul li a:hover{

    color: #fb9afc;
    

}

.menu-1  ul li a{

    display: inline-block;
    list-style: none;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 15px;
    text-transform: uppercase;
    


}


.redes-sociais ul li{

    margin-left: 15px;
    display: inline-block;
    list-style: none;


}

.redes-sociais{

        width: 20%;
        float: right;
        

}

.col-100{

    width: 100%;
    float: left;
    position: relative;

}

.logo{
    position: absolute; 
    top: 0; 
    left: 30;
  text-align: start;
 
}


