body{
    background-color: black;
    width:100%;
    height: 100%;
    margin: 0 auto;
    font-family:'Josefin Sans';
  color: #e92eed;
}

.menu-principal{
    width: 100%;
    background-color: black;
    height: 3%;
    
}

main{
    margin: 0 auto;

    position: relative;


}

.menu-1{
    position: absolute;
    width: 90%;
    padding-left: 0%;
    padding-top: 2%;
    font-family: 'Staatliches', cursive;
    text-align: center;
    
}
.menu-1  ul li{

    display: inline-block;
    list-style: none;
    color: white;
    height: 100%;
    

}

.menu-1  ul li:hover{

    border-bottom: 1px solid #fb9afc;

}
.menu-1  ul li a:hover{

    color: #fb9afc;
    

}

.menu-1  ul li a{

    display: inline-block;
    list-style: none;
    color: white;
    text-decoration: none;
    font-size: 130%;
    margin-left: 15px;
    text-transform: uppercase;
    


}

.col-100{

    width: 100%;
    float: left;
    position: relative;

}

.logo{
  
    position: absolute; 
    top: 0; 
    left: 2%;
  text-align: start;
 
}


.mySlides {display:flex}

img {vertical-align: middle;}



/* Slideshow container */
.slideshow-container {
  position: relative;
  top: 15%;
  width: 100%;


    
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    padding-top: 0%;
    margin-top: 0%;
    color: #fb9afc;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
      
    color: #e92eed;;
  }
  

  
  /* The dots/bullets/i  ndicators */
  .dot {
    position: relative;
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #fb9afc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #e92eed;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

.about {

    width: 100%;
    padding: 100px 0px;
    background-color: black;


}

.about img{

    height: auto;
    width: 430px;

}

.about-text{

    width: 550px;

}

.main-about{

    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

.about-text h2{

    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-family: 'Staatliches', cursive;
    text-align: justify;


}

.about-text h2 span{

    color: white;


}

.about-text p span{

    color: #57B7F2;


}

.about-text p{

    line-height: 28px;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 45px;
    font-family:'Times New Roman', Times, serif;
    text-align: justify;
}

.contato-text  ul li{

    display: inline-block;
    list-style: none;
    margin-left: 20px;
    max-width: 100%;
    padding-top: 100px;
    padding-right: 40px;
    

}

.contato {

  width: 100%;
  padding: 100px 0px;
  background-color: black;


}

.contato img{

  height: auto;

}

.main-contato{

  margin: 0 auto;
  justify-content: space-around;
  display: flex;

}

.contato-text h2{

  font-size: 50px;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-family: 'Staatliches', cursive;
  text-align: center;


}

.contato-text h2 span{

  color: white;

}

.login {
  background-color: black;
  width:100%;
  height: 100%;
  margin: 0 auto;
  font-family:'Josefin Sans';
color: #f700ff;
}

.btn{
  margin-top: 10px;

}

.waves-effect.waves-light
{background-color: #d200f2;}

.lala{
  margin:100px auto;
  width: 35%;

}
@media(max-width: 952px){
  .lala{
    width: 60%;
  }
}
  @media(max-width: 475px){
  .lala{
    width: 80%;
  }
}



